

@media screen and (min-width: 768px) and (max-width: 1024px) {


    body{
        background-image: linear-gradient(to top, red, yellow, orange) ; 
    }
    section#login {
        width: 90vw;
        height: 330px;
    }

    section#login >div#imagen{
        width: 30%;
        height: 100%;
        float: left;
    }

    section#login > div#formulario{
        width: 70%;
        float: right;
    }

}

@media screen and (min-width:1024px) {

    body{
        background-image: linear-gradient(to top, red, yellow, orange) ; 
    }
    section#login {
        width: 90vw;
        height: 330px;
    }

    section#login >div#imagen{
        width: 30%;
        height: 100%;
        float: right;
    }

    section#login > div#formulario{
        width: 70%;
        float: left;
    }

    
}